.moderator .groupIcon {
    background-image: url("https://68.media.tumblr.com/e9788937b91f5c62646f0a1e0b1c41de/tumblr_ojl1ohdsjF1v9ujawo2_75sq.png");
    display: inline-block;
}
.admin .groupIcon {
    background-image: url("https://68.media.tumblr.com/2dc7afab53a1e0b1bbd73f576b168bb7/tumblr_ojl1ohdsjF1v9ujawo1_75sq.png");
    display: inline-block;
}
.chat {
    position:absolute;
    left:0;
    top:0;
    right: 0;
    bottom: 0;
    BACKGROUND: URL(https://68.media.tumblr.com/ca39864832396a36b9339ecf40914adc/tumblr_op1tbg9jY31v9ujawo1_75sq.png);
}
li.admin {
    background: -o-linear-gradient(top, #336666 5%, #336666 100%) !important;
    background: -ms-linear-gradient(top, #336666 5%, #336666 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#336666', endColorstr='#336666',GradientType=0) !important;
    -moz-border-radius: 28px !important;
    background: url(https://68.media.tumblr.com/63e8742e8a6356755fc3307200c3c50e/tumblr_oj817zUaKp1v9ujawo1_400.png) !important;
    border: 1px solid #336666 !important;
    font-family: Arial !important;
    padding: 3px 3px !important;
    font-weight: bold !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    text-decoration: none !important;
}
li.moderator {
    background: -o-linear-gradient(top, #336666 5%, #336666 100%) !important;
    background: -ms-linear-gradient(top, #336666 5%, #336666 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#336666', endColorstr='#336666',GradientType=0) !important;
    -moz-border-radius: 28px !important;
    background: url(https://68.media.tumblr.com/63e8742e8a6356755fc3307200c3c50e/tumblr_oj817zUaKp1v9ujawo1_400.png) !important;
    border: 1px solid #336666 !important;
    font-family: Arial !important;
    padding: 3px 3px !important;
    font-weight: bold !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    text-decoration: none !important;
}
.chatUsersAndFilter {
    text-align: left;
    BACKGROUND: URL(https://68.media.tumblr.com/4f5dc9eb913192892b178bd45e99c73f/tumblr_oj80n9s1JR1v9ujawo1_75sq.png);
}
.chatHeaderWrapper .goog-menu-button-open, .chatHeaderWrapper .goog-menu-button-hover {
    background-color: #005e00;

}
.chatHeaderWrapper, .chatRooms ul li.active a, .chatRooms ul li.blink a, .chatRooms ul li:hover a,
.chatRoomsButton a:hover, .closeIconWrapper > .closeIconColor, .chatWindow .header,
.chatSendControlsWrapper div.buttonWrapper a.sendMessageButton, .chatSendControlsWrapper .buttons a.register,
.nickIcon .filler {
    background-color:#005600;
    color: #ffffff;
}
.chatRooms ul li a {
    display:block;
    text-decoration:none;
    /*color:#000;*/
    height:25px;
    line-height:25px;
    padding:0 8px;
    background-color:#3f8b3f;
    outline:0;
    position:relative;
    cursor: pointer;
}
body {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #ffffff;
    color:#000000;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
}
a {
    color:#005600;
    text-decoration: none;
}
.chatRoomsScrollBar > div.left > div {
    left: 6px;
    border-width: 5px 5px 5px 0;
    border-color: transparent #005600 transparent transparent;
}
.chatRoomsScrollBar > div.right > div {
    right: 6px;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #005600;
}
