.chatMessages,.chatSendControlsWrapper,.chatUsersAndFilter{
	background-attachment:fixed;
}
.chatRoomsAndMessages{
	background-image:url("https://www.subeimagenes.com/img/kurco-2-1832871.jpg");
}
.chatSendControlsWrapper{
	background-image:url("http://static.pulzo.com/styles/pulzo2_normal/public/emoticones_1.jpg");
}
.chatUsersAndFilter{
	background-position:right;
	background-image:url("https://www.subeimagenes.com/img/caritas-usuarios-1832870.jpg");
}