.chatMessages,.chatSendControlsWrapper,.chatUsersAndFilter{
	background-attachment:fixed;
}
.chatRoomsAndMessages{
	background-image:url("https://www.subeimagenes.com/img/kurco-3-1841630.jpg");
}
.chatSendControlsWrapper{
	background-image:url("https://www.subeimagenes.com/img/emoticones-2-1841632.jpg");
}
.chatUsersAndFilter{
	background-position:right;
	background-image:url("https://www.subeimagenes.com/img/caritas-usuarios-1832870.jpg");
}