body {
	font-weight:bold ;
}
.chatHeaderWrapper, .chatRooms ul li.active a, .chatRooms ul li.blink a, .chatRooms ul li:hover a, .chatRoomsButton a:hover, .closeIconWrapper > .closeIconColor, .chatWindow .header{
	background-color: #000000;
	color:#ffff00;
}
.chatHeaderWrapper .goog-menu-button-open, .chatHeaderWrapper .goog-menu-button-hover {
	background-color: #237d82;
}
.chatHeaderWrapper .menuItem .text {
	color: #828effee;

}
.chatRoomsAndMessages{
	background-image:url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/Neko.png");
	border: 2px solid #828effee;
	background-position: bottom left;
	background-repeat: repeat-x;
}
.chatMessagesScrollBar div {
	background-color: #828effee;
}
.chatUsersScrollBar div {
	background-color: #828effee;
}
.chatMessagesContainer {
	bottom: 2px;
}
.chatUsersTab {
	background-position: center;
	background-image: url("https://vignette.wikia.nocookie.net/noragami/images/2/26/Neko.gif");
	background-repeat: no-repeat;
	background-color: #ffffff;
	border: 2px solid #000000;
}
.admin .groupIcon {
	background-image: url("https://i.imgur.com/2FVOqTE.png");
}
.moderator .groupIcon {
	background-image: url("https://i.imgur.com/8XXEYKP.png");
}
.user .groupIcon{
	background-image: url("https://i.imgur.com/kmB7Lqn.png");
}
.goog-toolbar{
	background-image: none #important
}
.chatSendControlsWrapper{
	background-color: #abcdefef;
	border: 2px solid #3d85c6;
	left:  2px;
	right: 2px;
}
textarea{
	color: #123456;
	border: 4px solid #12ff3480;
	font-weight: bold;
}
