body {
	font-weight:bold ;
	text-shadow: 1px 1px 2px #bbb;
}
.chatRoomsAndMessages{
	background-image:url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/Neko_5.png");
	border: 2px solid #828effee;
}
.chatMessagesScrollBar div {
	background-color: #828effee;
}
.chatUsersScrollBar div {
	background-color: #828effee;
}
.chatUsersTab {
	background-position: center;
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/Neko_BN_5.gif");
	background-color: #eee;
	border: 2px solid #000000;
	background-repeat: no-repeat;
}
.admin .groupIcon {
	background-image: url("https://i.imgur.com/2FVOqTE.png");
}
.moderator .groupIcon {
	background-image: url("https://i.imgur.com/8XXEYKP.png");
}
.user .groupIcon{
	background-image: url("https://i.imgur.com/kmB7Lqn.png");
}
.goog-toolbar{
	background: #70a00015 url("");
}
.chatSendControlsWrapper{
	background-color: #abcdef10;
	border: 3px solid #3d85c690;
}
.chatRoom{
	background-color: #20304030 !important;
}
.hl{
	background-color:#fff3dae0 !important;
}
textarea{
	color: #123456;
	border: 4px solid #12ff3480;
	background-color: #34ff1210;
	font-weight: bold;
}
