body {
	color:#3412abaa;
	font-weight:bold;
	text-shadow: 1px 1px 0.6em #121212de;
}
img {
	box-shadow: 0px 0px 8em #121212de;
}
textarea{
	color: #321e;
	border: 4px solid #12ff3499;
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/textarea_color.png");
	font-weight: bold;
	font-size: 1.em;
}
.chatHeaderWrapper{
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/Neko_5.png");
}
.chatRoomsAndMessages{
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/Neko_5.png");
	border: 2px solid #828effee;
}
.chatMessagesScrollBar div {
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/deslizador.png");
}
.chatUsersScrollBar div {
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/deslizador_usuarios.png");
}
.chatUsersTab {
	background-position: center;
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/Neko_BN_5.gif");
	background-color: #eeeeee80;
	border: 2px solid #00000080;
	font-weight:bold;
	text-shadow: 1px 1px 0.6em #121212de !important;
}
.groupIcon {
	width: 65px;
	height: 18px;
}
.admin .groupIcon {
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/2FVOqTE.png");
}
.moderator .groupIcon {
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/8XXEYKP.png");
}
.user .groupIcon{
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/kmB7Lqn.png");
}
.goog-toolbar{
	background: #70a00015 url("");
}
.chatSendControlsWrapper{
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/enviar.png");
	border: 3px solid #3d85c690;
}
.chatRoom{
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/habitacion.png") !important;
}
.hl{
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/etiquetar.png") !important;
}
.chatRooms>ul>li>a{
	background-image: url("https://raw.githubusercontent.com/ArtEze/Otecald/master/CSS/Chatovod/Neko/titulo_sala.png") !important;
}

/*chatUserPopupWrapper registered moderate*/